@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        height: 7px;
        width: 7px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: hsl(var(--secondary));
        border-radius: 4px;

    }
}


@layer base {
    :root {

        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        /* card */
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        /* popovers */
        --popover: 0 0% 90%;
        --popover-foreground: 224 71.4% 4.1%;
        /* shades of primary */
        --primary-foreground: 295 72% 40%;
        --primary: 283 82% 24%;
        --primary-background: 245 58% 51%;
        /* shades of secondary */
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        /* muted (foreground-utils) */
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        /* accent (background-utils)*/
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        /* destructive */
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        /* other utils */
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;
        --radius: 0.5rem;
        /* button */
        --neumorphic-outline-button: 0rem -.0625rem 0rem 0rem #8400ff inset, 0rem 0rem 0rem .0625rem #ffffff1a inset, 0rem .03125rem 0rem .09375rem #030711 inset;
        --neumorphic-outline-active-button: -.0625rem 0rem .0625rem 0rem #7500ff inset, .0625rem 0rem .0625rem 0rem #94429a inset, 0rem .125rem .0625rem 0rem #c228ff inset;
    }

    .dark {
        --background: 0 0 0%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 224 76% 28%;
        --primary-background: 262.1 83.3% 57.8%;
        --primary-foreground: 189 89% 48%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;
    }
}

@layer utilities {
    .bg-metallic-dark {
        @apply bg-[linear-gradient(to_left,#000000,#353434,#000000),linear-gradient(to_top,#000000,#353434,#000000)] bg-[length:100%_100%] shadow-inner shadow-black drop-shadow-md
    }

    .bg-metallic-light {
        @apply bg-[linear-gradient(to_left,#fff,#d9d9d9,#fff),linear-gradient(to_top,#fff,#d9d9d9,#fff)]  bg-[length:100%_100%] shadow-inner shadow-white drop-shadow-md
    }

    .bg-glassy-dark {
        @apply bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] shadow-inner shadow-white drop-shadow-md
    }

    .bg-glassy-light {
        @apply bg-[linear-gradient(110deg,#fcfcfc,45%,#b9cfed,55%,#fcfcfc)] bg-[length:200%_100%] shadow-inner shadow-black drop-shadow-md
    }
}

@layer base {
    *, :after, :before {
        border: 0 solid hsl(var(--secondary))
    }
}

@layer components {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    input[list]::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        appearance: none;

    }
}